.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabla{
    padding-left: 250px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.anuncio{
    border: 1px solid black;
}
div.fecha{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.fecha *{
    margin: 10px;
}
.custom-select{
    width: fit-content;
    align-self: center;
}

h4{
    width: fit-content;
    color:#2341AD;
    text-emphasis: none;
}

h2.titulo{
    width: 100%;
    text-decoration: underline;
    text-align: center;
    color: #FF913D;
    margin-bottom: 50px;
}

article{
  width: fit-content;
  align-self: center;
  display: flex;
  justify-content: center;
}


section{

    width: fit-content;
    align-self: center;
}
main{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
}


.thead-light tr th{
    color: #2341AD;
}


.ver{
    color:  #F2AE27;
    margin-top:5px ;
    margin-right: 10px;
}

.etiquetas{
    width: fit-content;
    align-self: center;
    padding-top: 30px;
}
.etiquetas span{
        margin-left: 20px;
}
.badge-primary{
    background-color: #0BB549;
}

.table{
    text-align: center;
}
